@model Crawler.WebApplication.Models.UserInputModel

<form method="post" asp-action="Index" asp-antiforgery="false">
    <div class="d-flex">
        <div class="p-2">
            <label class="col-form-label">Enter a website</label>
        </div>
        <div class="p-2 flex-fill">
            <input asp-for="Url" type="text" required class="form-control">
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
</form>