@model TestsViewModel
@{
    ViewData["Title"] = "Tests";
}

<div class="text-center">

    @await Html.PartialAsync("_Form", new UserInputModel())

    <div class="row mt-5 table-responsive d-flex">
        <table class="table table-bordered" id="testsTable">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Url</th>
                    <th scope="col">Time of the test</th>
                    <th scope="col">Information about the test</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Tests)
                {
                    <tr>
                        <th scope="row">@obj.Id</th>
                        <td>@obj.Url</td>
                        <td>@obj.SaveTime</td>
                        <td><a asp-controller="Result" asp-action="Index" asp-route-id="@obj.Id">More info</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


